.clearButton{
    height: 4em;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: #c5c3cd;
    color: black;
    outline: 1px solid #888;
    width: 100%;
    cursor: pointer;
}