.app{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130vh;
  width: 100%;
}
.calc-wrapper{
  width: 400px;
  height: 600px;
}
.row{
  display: flex;
  width: 100%;
}
.ClearButton{
  height: 4em;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4em;
  background-color: #c5c3cd;
  color: black;
  outline: 1px solid #888;
}